# Queries and results for song play analysis

In [1]:
%load_ext sql

In [2]:
from time import time
import configparser

### Get the params of the created redshift cluster 
- We need:
    - The redshift cluster <font color='red'>endpoint</font>

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")

DWH_ENDPOINT = config.get("CLUSTER","HOST")

### Connect to the Redshift Cluster

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cmcznijw5lrc.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Analysis Proper

#### Get the number of users by gender::

In [5]:
%%sql
SELECT gender, COUNT(DISTINCT user_id) AS user_count
FROM users
GROUP BY gender;

 * postgresql://dwhuser:***@dwhcluster.cmcznijw5lrc.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('F', 55), ('M', 41)]

#### Find the top 5 songs played along with their play counts:

In [6]:
%%sql
SELECT s.title, COUNT(sp.songplay_id) AS play_count
FROM songplays sp
JOIN songs s ON sp.song_id = s.song_id
GROUP BY s.title
ORDER BY play_count DESC
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cmcznijw5lrc.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[("You're The One", 37),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ("I CAN'T GET STARTED", 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ("Hey Daddy (Daddy's Home)", 6)]

#### Identify the top 10 most active users by the number of song plays:

In [7]:
%%sql
SELECT u.user_id, u.first_name, u.last_name, COUNT(sp.songplay_id) AS play_count
FROM users u
JOIN songplays sp ON u.user_id = sp.user_id
GROUP BY u.user_id, u.first_name, u.last_name
ORDER BY play_count DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cmcznijw5lrc.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('49', 'Chloe', 'Cuevas', 82),
 ('80', 'Tegan', 'Levine', 62),
 ('88', 'Mohammad', 'Rodriguez', 34),
 ('15', 'Lily', 'Koch', 30),
 ('97', 'Kate', 'Harrell', 29),
 ('29', 'Jacqueline', 'Lynch', 26),
 ('36', 'Matthew', 'Jones', 22),
 ('44', 'Aleena', 'Kirby', 20),
 ('73', 'Jacob', 'Klein', 18),
 ('85', 'Kinsley', 'Young', 14)]

#### Determine the distribution of song plays across different days of the week:

In [8]:
%%sql
SELECT t.weekday, COUNT(sp.songplay_id) AS play_count
FROM time t
JOIN songplays sp ON t.start_time = sp.start_time
GROUP BY t.weekday
ORDER BY t.weekday;

 * postgresql://dwhuser:***@dwhcluster.cmcznijw5lrc.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('0', 16), ('1', 59), ('2', 43), ('3', 58), ('4', 63), ('5', 51), ('6', 30)]

#### Find the top 10 average song duration by artist:

In [9]:
%%sql
SELECT a.name AS artist_name, AVG(s.duration) AS avg_duration
FROM artists a
JOIN songs s ON a.artist_id = s.artist_id
GROUP BY a.name
ORDER BY avg_duration DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cmcznijw5lrc.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Ministry of Sound', 1686.7522),
 ('Yob', 1570.32444),
 ('Jean Grae', 1503.424855),
 ('Garrison Keillor', 1490.9122),
 ('Frederic Galliano', 1394.75546),
 ('Jon & Vangelis', 1373.23057),
 ('Henry Gendrot', 1211.27138),
 ('No Cash', 1179.32363),
 ('Venice is Sinking', 1151.92118),
 ('Manfred Trendel', 1150.37995)]